// app global css in SCSS form
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

// Montserrat as license free font
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-SemiBold.ttf);
  font-weight: bold;
}

* {
  font-family: 'Montserrat';
}

.montserrat {
  font-family: 'Montserrat';
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}


/* For our image viewer 'viewerjs'*/
.viewer-title {
  color: white !important;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1.0 !important;
  max-width: 400px !important;
  word-wrap: anywhere !important;
  white-space: normal !important;
}

.viewer-title:not(:empty) {
  padding: 7px;
}